/* MAIN COLORS */
$blue: #058ff9;

/* Bootstrap Colors */
$primary: $blue;

/* Bootstrap Theme Colors */
$theme-colors: (
  'primary': $primary,
);

/* FONT FAMILY */
$font-family-base: 'Open Sans', sans-serif;

