/* MAIN COLORS */
$blue: #058ff9;
$gray: #d3d3d3;;
$dark-gray: #363636;

/* Bootstrap Colors */
$primary: $blue;

/* Bootstrap Theme Colors */
$theme-colors: (
  'primary': $primary,
  'secondary': $gray,
  'dark': $dark-gray,
);

/* FONT FAMILY */
$font-family-base: 'Open Sans', sans-serif;

